<br xmlns:text-align="http://www.w3.org/1999/xhtml"/><br/>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">
            <mdb-card cascade="true" narrower="true">
              <mdb-card-body cascade="true" class="text-center">
                <h5 class="pink-text">
                  <mdb-icon fas icon="utensils"></mdb-icon> Sobre</h5>
                <h4 class="card-title">Sistema para conversão de vídeos</h4>
                <mdb-card-text>
                  <p>Resumo: Sistema experimental para conversão de vídeos em formatos tradicionais para formatos da web. Atualmente o protocolo suportado é
                   HLS, pelo fato de ter maior compatibilidade com a maioria dos navegadores, sendo eles o Safari. O formato MPEG-DASH será
                    incluído em breve após testes de maior fluidez.</p>

                  <p>Autor: Magnum Adelano Gonçalves de Faria</p>
                  <p>Github: <a target="_blank" href="https://github.com/magnumcs">https://github.com/magnumcs</a></p>
                  <p>Linkedin: <a target="_blank" href="https://www.linkedin.com/in/magnum-adelano-b2535992/">https://www.linkedin.com/in/magnum-adelano-b2535992/</a></p>
                </mdb-card-text>
              </mdb-card-body>
            </mdb-card>
            <br/>
            <div style="text-align: center !important;">
              <button mdbBtn type="button" rounded="true" gradient="aqua" routerLink="/converter"  mdbWavesEffect>Voltar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<br/><br/><br/>
